@font-face {
  font-family: "customFont";
  src: url("/public/fonts/Blackcraft.ttf");
}

:root {
  --lines: #111626;
  --btns: #2b2c52;
  --btns-hover: #3a3a64;
  --text: #dccae9;
  --headers: #3a3a64;
  --slider-btn: invert(6%) sepia(11%) saturate(18%) hue-rotate(314deg)
    brightness(96%) contrast(96%);
  --svg-links: invert(97%) sepia(3%) saturate(13%) hue-rotate(79deg)
    brightness(104%) contrast(104%);
  --svg-btn: invert(8%) sepia(44%) saturate(1075%) hue-rotate(191deg)
    brightness(99%) contrast(91%);
}

.header-text {
  letter-spacing: 3px;
  font-size: larger;
  margin: 0;
  color: var(--headers);
}

.App {
  text-align: center;
  background: url(/public/background.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100vw;
  margin: 0;
  font-family: "customFont", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 32px;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232646;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 95px;
  color: white;
  overflow: hidden;
}

.header-logo {
  max-width: 40vw;
  height: auto;
  max-height: 80px;
}

.header-icons {
  display: flex;
  max-width: 60vw;
  height: auto;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 90px;
  width: 90%;
  border-radius: 16px;
  margin: 5px;
  padding: 0 20px;
}

.header-btn {
  height: auto;
  max-width: 15vw;
  flex-basis: 30%;
  background: none;
  color: white;
  border: none;
}

.header-btn:hover {
  text-decoration: underline;
}

.header-btn:active {
  transform: translateY(2px);
}

.logo {
  flex: 1 1 auto;
  margin: 2px 0;
  max-width: 85px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0 auto;
  gap: 20px;
}

.mainband-photo {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}

.band-photo {
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slideshow {
  position: relative;
  width: 100%;
}

.slider {
  position: absolute;
  top: 45%;
  padding: 10px 5px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.slider img {
  opacity: 0.9;
  width: 20px;
  filter: var(--slider-btn);
}

.slider img:hover {
  opacity: 0.7;
}

.slider img:active {
  transform: translateY(2px);
}

.music-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

.releases {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 90vw !important;
}

.release-image {
  height: auto;
  max-width: 300px;
  box-shadow: 5px -5px 15px 0px rgba(62, 72, 119, 0.47);
}

.single {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: var(--text);
}

.release-btn {
  height: 30px;
  width: 300px;
  max-width: 95vw;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
  color: var(--text);
  background: var(--btns);
  box-shadow: 5px 0px 15px 0px rgba(62, 72, 119, 0.47);
}

.release-btn:hover {
  background: var(--btns-hover);
  opacity: 0.9;
}

.release-btn:active {
  transform: translateY(2px);
}

.btn-img {
  height: 30px;
  filter: var(--svg-btn);
}

.video-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

.video {
  flex-basis: 100%;
  min-height: 42vh;
  width: 90vw;
  padding: 20px 0;
  border: none;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  background: linear-gradient(to top, var(--lines) 59%, transparent 41%);
  overflow: hidden;
}

.links {
  height: 55px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  margin: -25px 0 20px;
  z-index: 1000;
}

.link-img {
  max-height: 45px;
  filter: var(--svg-links);
  margin: 0px 10px;
  cursor: pointer;
}

.link-img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.link-img:active {
  transform: translateY(2px);
}

.footer-logo {
  max-width: 100%;
  width: 500px;
  z-index: 10;
}

@media (min-width: 800px) {
  main {
    gap: 50px;
  }

  .header-logo {
    max-width: 25vw;
  }

  .header-text {
    font-size: 2em;
    letter-spacing: 3px;
  }

  .about-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .music-section {
    width: 90vw;
    overflow: visible;
  }

  .releases {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
  }

  .single {
    display: flex;
    width: 28vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: var(--text);
  }

  .single:hover {
    scale: 1.03;
    transition: 0.5s;
  }

  .release-image {
    width: 100%;
    max-width: 100%;
  }

  .release-btn {
    width: 100%;
    max-width: 100%;
  }

  .slider {
    top: 45%;
  }

  .slider img {
    width: 30px;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }

  .video-section {
    height: min-content;
    width: 100vw;
  }

  .video {
    min-height: 98vh;
    width: 90vw;
  }
}
